body {
  background-color: #efefef;
  font-family: "Courier New", Courier, monospace;
}
footer {
  height: 90px;
  background-color: grey;
}
p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3em;
}
h2 {
  margin-top: 50%;
}
#buttonContainer {
  height: 50px;
  background-color: #fcbc55;
  padding-top: 5px;
}

.btn-warning {
  background-color: #ff9d00 !important;
  font-size: 1.3em;
}
#main div {
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}
.jumbotron{
  margin: 0;
  background-color: #efefef;
  height: 145px;
}
.row.content {
  height:		600px;
}
#main {
  background-color: white;
  height: 100%;
  padding: 0 0 0 0;
}
.side {
  background-color: #efefef;
  height: 100%;
}
